<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
    <button mat-button id="Db">Db</button>
    <button mat-button id="Ab">Ab</button>
    <button mat-button id="Eb">Eb</button>
    <button mat-button id="Bb">Bb</button>
    <button mat-button id="F">F</button>
    <button mat-button id="C">C</button>
    <button mat-button id="G">G</button>
    <button mat-button id="D">D</button>
    <button mat-button id="A">A</button>
    <button mat-button id="E">E</button>
    <button mat-button id="B">B</button>
    <button mat-button id="FS">F#</button>
</div>

